{% extends 'layout/base.html' %}

{% block content%}
<h1 class="text-center text-success">Chi tiết sản phẩm</h1>

<div class="container" style="border:1px solid black;">
    <div class="row">
    <div class="col-md-4 col-sm-6">
        <img src="{{product.image}}" alt="{{product.name}}" class="img-fluid" style="padding:1rem">
    </div>
    <div class="col-md-8 col-sm-6">
        <h1>{{ product.name }}</h1>
        <p>{{ product.description }}</p>
        <h3>{{ "{:,.1f}".format(product.price) }} VNĐ</h3>
    </div>
</div>
</div>

{% endblock %}