{% extends 'layout/base.html' %}

{% block content %}
{%if product %}
<div clas="container">
    <div class="row">
        {% for p in product%}
        <div class="col-md-3 col-sm-12" style="padding:1rem">
            <div class="card">
                <img class="card-img-top" src="{{p.image}}" alt="{{p.name}}">
                <div class="card-body">
                    <h4 class="card-title">{{p.name}}</h4>
                    <p class="card-text">{{p.description|safe}}</p>
                    <p class="card-text">{{"{:,.1f}".format(p.price)}} VND</p>
                    <a href="/product/{{p.id}}" class="btn btn-primary">Xem chi tiet</a>
                    <a href="#" class="btn btn-danger">Đặt hàng</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<h1>Không có sản phẩm nào</h1>
{% endif %}
{% endblock %}